<div>
    <div class="full-height home-landing">
        <div class="row full-height">
            <div class="small-12 medium-8 large-5 center-align-small">
                <h1><b>Early News Alert</b></h1>
                <h3>On U.S. Public Equities</h3>
                <hr class="saperator-short" />
                <p>Get the most advanced breaking news technology for your investment strategies. Over 300 million websites are monitored in real time for early news on U.S. public equities.</p> <a class="button round btn-red"><i class="fa fa-fw" aria-hidden="true">&#xf061;</i>&nbsp;Try Web App</a> <a class="button round btn-transparent">Request API</a> </div>
        </div>
    </div>
    <div class="row-padding">
        <div class="row text-center">
            <div class="small-12 medium-12 large-12">
                <h3><b>Leader</b>In News and Social Analytics</h3>
                <p>In just over three years, Accern has rapidly grown to become the market leader in the news and social analytics space in terms of content coverage. Trading alerts and analytics are derived from relevant finance-related news processed on over 300 million websites in real time for institutional investors.</p>
            </div>
            <div class="small-12 medium-6 large-3 columns">
                <h1 class="large-icons"><i class="fa fa-fw" aria-hidden="true">&#xf1ea;</i></h1>
                <h4>News Coverage</h4>
                <p class="color-dirty">We currently have the largest finance news coverage in the world by monitoring 300 million news websites, blogs, and social media feeds such as Twitter.</p>
            </div>
            <div class="small-12 medium-6 large-3 columns">
                <h1 class="large-icons"><i class="fa fa-fw" aria-hidden="true">&#xf017;</i></h1>
                <h4>Low-Latency</h4>
                <p class="color-dirty">In a few milliseconds, Accern captures articles as soon as they are published online and derives trading analytics to be delivered to customers.</p>
            </div>
            <div class="small-12 medium-6 large-3 columns">
                <h1 class="large-icons"><i class="fa fa-fw" aria-hidden="true">&#xf00c;</i></h1>
                <h4>News Quality</h4>
                <p class="color-dirty">We provide news that are relevant to U.S. public equities 99% of the time, using our proprietary algorithms built solely to tackle data quality issues.</p>
            </div>
            <div class="small-12 medium-6 large-3 columns">
                <h1 class="large-icons"><i class="fa fa-fw" aria-hidden="true">&#xf02b;</i></h1>
                <h4>Affordable</h4>
                <p class="color-dirty">We save customers time and energy, and cut more than 50% in news data costs by helping them integrate any type of news sources they need. </p>
            </div>
        </div>
    </div>
    <div class="row-padding background-light">
        <div class="row full-width center-align-small">
            <div class="small-12 medium-6 large-6 columns"> <img src="https://www.accern.com/wp-content/uploads/2017/01/platform2017-1.png" alt="" /> </div>
            <div class="small-12 medium-6 large-6 columns">
                <h3>Get Tradable Alerts </h3>
                <p class="color-dirty center-align-small">Use our web application to get early news on over 8,000 U.S. public equities sourced from over 300 million news websites, blogs, and social media feeds such as Twitter. With easy–to-use features, you can get set up in minutes and start trading on custom news alerts we deliver to you.</p>
                <ul class="custom-accordian">
                    <li class="accordian-item" >
                        <div class="accordian-header text-left"> <span><i class="fa fa-fw" aria-hidden="true">&#xf105;</i>&nbsp;Trade On Early News</span> <span class="accordian-arrow"><i class="fa fa-fw" aria-hidden="true">&#xf107;</i></span> </div>
                        <div class="accordian-data">
                            <div class="row">
                                <div class="large-8 columns">
                                    <p class="color-dirty">Our massive coverage of 300 million websites allows us to find and deliver early stories on U.S. public equities to our customers.</p>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="accordian-item">
                        <div class="accordian-header text-left"> <span><i class="fa fa-fw" aria-hidden="true">&#xf105;</i>&nbsp;Build Custom Alerts</span> <span class="accordian-arrow"><i class="fa fa-fw" aria-hidden="true">&#xf107;</i></span> </div>
                        <div class="accordian-data">
                            <div class="row">
                                <div class="large-8 columns">
                                    <p class="color-dirty">Our app allows you to build custom news alerts geared specifically towards your trading strategy. If requested, we can even help you build them.</p>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="accordian-item">
                        <div class="accordian-header text-left"> <span><i class="fa fa-fw" aria-hidden="true">&#xf105;</i>&nbsp;Use Trading Analytics</span> <span class="accordian-arrow"><i class="fa fa-fw" aria-hidden="true">&#xf107;</i></span> </div>
                        <div class="accordian-data">
                            <div class="row">
                                <div class="large-8 columns">
                                    <p class="color-dirty">We derive analytics such as sentiment, impact, news exposure, news reliability rankings, and much more from each article.</p>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul> <a class="button round btn-red"><i class="fa fa-fw" aria-hidden="true">&#xf061;</i>&nbsp;Try Web App</a> </div>
        </div>
    </div>
    <div class="row-padding">
        <div class="row full-width  center-align-small">
            <div class="small-12 medium-6 large-6 columns">
                <h3>Largest News Sentiment API Feed </h3>
                <p class="color-dirty">Use our low-latency news sentiment API feed to build custom trading strategies or integrate it with your existing strategies. With over 300 million news websites, blogs, and social media websites, such as Twitter, monitored in real-time, we extract article meta data, company and events information, and derived trading analytics per article for our institutional customers.</p>
                <ul class="custom-accordian">
                    <li class="accordian-item">
                        <div class="accordian-header text-left"> <span><i class="fa fa-fw" aria-hidden="true">&#xf105;</i>&nbsp;Flexible Low-Latency API Feed</span> <span class="accordian-arrow"><i class="fa fa-fw" aria-hidden="true">&#xf107;</i></span> </div>
                        <div class="accordian-data">
                            <div class="row">
                                <div class="large-8 columns">
                                    <p class="color-dirty">Our push-based low-latency JSON API feed can aggregate data based on specific time frames or filter data based on companies.</p>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="accordian-item">
                        <div class="accordian-header text-left"> <span><i class="fa fa-fw" aria-hidden="true">&#xf105;</i>&nbsp;API Data Fields</span> <span class="accordian-arrow"><i class="fa fa-fw" aria-hidden="true">&#xf107;</i></span> </div>
                        <div class="accordian-data center-align-small">
                            <div class="row">
                                <div class="large-8 columns">
                                    <p class="color-dirty">Our API data feed includes article metadata such as URLs, events, companies, and derived analytics such as sentiment.</p>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="accordian-item">
                        <div class="accordian-header text-left"> <span><i class="fa fa-fw" aria-hidden="true">&#xf105;</i>&nbsp;4 Years Of History</span> <span class="accordian-arrow"><i class="fa fa-fw" aria-hidden="true">&#xf107;</i></span> </div>
                        <div class="accordian-data">
                            <div class="row">
                                <div class="large-8 columns">
                                    <p class="color-dirty">We have over four years of historical data, which includes article headlines and URLs. Historical data are provided upon request.</p>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul> <a class="button round btn-transparent"><i class="fa fa-fw" aria-hidden="true">&#xf084;</i>&nbsp;Request API</a> </div>
            <div class="small-12 medium-6 large-6 columns"> <img src="https://www.accern.com/wp-content/uploads/2017/01/blackwhitegirl.jpg" alt="" /> </div>
        </div>
    </div>
    <div class="row-padding">
        <div class="row">
            <div class="small-12 medium-12 large-12 columns text-center">
                <h3>Contact Us Anytime</h3>
                <p>Contact us for documentation and pricing. We will respond within 3 hours.</p>
            </div>
        </div>
        <form>
            <div class="row">
                <div class="small-12 medium-4 large-4 columns">
                    <div class="group">
                        <input type="text" required> <span class="highlight"></span> <span class="bar"></span>
                        <label>Name</label>
                    </div>
                </div>
                <div class="small-12 medium-4 large-4 columns">
                    <div class="group">
                        <input type="text" required> <span class="highlight"></span> <span class="bar"></span>
                        <label>Email</label>
                    </div>
                </div>
                <div class="small-12 medium-4 large-4 columns">
                    <div class="group">
                        <input type="text" required> <span class="highlight"></span> <span class="bar"></span>
                        <label>Subject</label>
                    </div>
                </div>
                <div class="small-12 medium-12 large-12 columns">
                    <div class="group">
                        <textarea rows="4" required></textarea> <span class="highlight"></span> <span class="bar"></span>
                        <label>Message</label>
                    </div>
                </div>
                <div class="small-12 medium-12 large-12 columns text-center"> <a class="button round btn-red">Send</a> </div>
            </div>
        </form>
    </div>
</div>